.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--primary);
  padding: 0;
  & * {
    color: var(--inverted);
  }

  .contacts__container {
    position: relative;
    display: flex;
    justify-self: end;
    flex-direction: column;
    max-width: min(30.063em, 100%);
    margin: 5.188em 6.5em;

    .section-header {
      max-width: 30.063rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: -5.438em;
      top: 1.688em;
      width: 3.188em;
      height: 0.25em;
      background: var(--inverted);
    }

    .contacts__form {
      display: flex;
      flex-direction: column;
      row-gap: 0.813em;
      max-width: 19.438em;

      & input {
        font-size: 0.875rem;
        color: var(--input-font-color);
        height: 3.571em;
        background-color: var(--input-background-color);
        padding: 1em 1.857em;
        border: none;
        border-radius: 1.786em;

        &::placeholder {
          color: var(--input-font-color);
          opacity: 1;
        }

        &[type="number"] {
          -moz-appearance: textfield;
          appearance: textfield;

          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }
        }
      }

      & .form__title {
        font-size: 1.125rem;
        margin: 1.889em 0 0;
      }

      & .form__description {
        font-size: 0.875rem;
        font-weight: 300;
      }

      & .form__submit {
        width: 17.214em;
      }
    }
  }

  .contacts__map {
    justify-self: end;
    max-width: min(50em, 100%);
    overflow: hidden;
    background-color: aquamarine;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1100px) {
  .contacts {
    grid-template-columns: 1fr;
    padding: 2.5em 6em;

    .contacts__container {
      display: flex;
      justify-self: start;
      margin: 0;
      margin-bottom: 2.5em;

      .section-header {
        max-width: 30.063rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .contacts {
    padding: 2.5em 2em;
  }
}
