.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 14px 34px;
  border-radius: 27px;
  background-color: var(--primary-btn-background);
  color: var(--primary-btn-color);
  border: none;
  font-size: 15px;
  font-weight: 700;

  &.button--outline {
    background-color: var(--outline-btn-background);
    border: 2px solid var(--outline-btn-border-color);
    color: var(--outline-btn-color);
  }

  &.button--secondary {
    background-color: var(--outline-btn-background);
    border: 2px solid var(--outline-btn-border-color);
    color: var(--primary-color);
    &:hover {
      background-color: var(--outline-hover-btn-background);
    }
  }
}
