.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.933em 2.267em;
  border-radius: 1.8em;
  background-color: var(--primary-btn-background);
  color: var(--primary-btn-color);
  border: none;
  font-size: 0.938rem;
  font-weight: 700;

  &.button--outline {
    --button-shadow-color: inherit;
    background-color: var(--outline-btn-background);
    border: 2px solid var(--outline-btn-border-color);
    color: var(--outline-btn-color);

    &:hover {
      background-color: var(--hover-outline-btn-background);
    }
  }

  &.button--secondary {
    --button-shadow-color: rgba(25, 102, 135, 0.23);
    background-color: var(--secondary-btn-background);
    border: none;
    color: var(--secondary-btn-color);
    &:hover {
      background-color: var(--hover-secondary-btn-background);
    }

    &:active {
      background-color: var(--active-secondary-btn-background);
    }
  }

  &.button--shadow-small {
    box-shadow: var(--button-shadow-small);

    &:active {
      box-shadow: none;
    }
  }

  &.button--shadow-large {
    --button-shadow-color: rgba(41, 171, 226, 0.23);
    box-shadow: var(--button-shadow-large);

    &:active {
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 0.813rem;
  }
}
