.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.933em 2.267em;
  border-radius: 1.8em;
  background-color: var(--primary-btn-background);
  color: var(--primary-btn-color);
  border: none;
  font-size: 0.938rem;
  font-weight: 700;

  &.button--outline {
    background-color: var(--outline-btn-background);
    border: 2px solid var(--outline-btn-border-color);
    color: var(--outline-btn-color);
  }

  &.button--secondary {
    background-color: var(--outline-btn-background);
    border: 2px solid var(--outline-btn-border-color);
    color: var(--primary-color);
    &:hover {
      background-color: var(--outline-hover-btn-background);
    }
  }
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 0.813rem;
  }
}
