@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap");

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("MuseoSansCyrl-500.eot");
  src: url("MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
    url("MuseoSansCyrl-500.woff") format("woff"),
    url("MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("MuseoSansCyrl-900.eot");
  src: url("MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
    url("MuseoSansCyrl-900.woff") format("woff"),
    url("MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("MuseoSansCyrl-700.eot");
  src: url("MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
    url("MuseoSansCyrl-700.woff") format("woff"),
    url("MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("MuseoSansCyrl-300.eot");
  src: url("MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
    url("MuseoSansCyrl-300.woff") format("woff"),
    url("MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

:root {
  font-family: Museo Sans Cyrl, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: var(--primary-color);
}

html,
body {
  margin: 0;
  padding: 0;
  max-height: 100dvh;
  max-width: 100dvw;
}

body {
  scrollbar-gutter: stable;
  &.noscroll {
    overflow: hidden;
  }
}

.section {
  max-width: 1600px;
  padding: 14px 40px;
}
