/* dark mode */
:root {
  color-scheme: dark;
  --background-color: #242424;
  --footer-background: #0f4861;
  --primary: #29abe2;
  --secondary: #79a0b0;
  --inverted: #272727;
  --border-color: #f3f3f3;
  /* button */
  /* button--primary */
  --primary-btn-background: #29abe2;
  --primary-btn-color: #fff;
  /* button--outline */
  --outline-btn-background: #242424;
  --hover-outline-btn-background: #393939;
  --active-outline-btn-background: #4f4f4f;
  --outline-btn-border-color: #29abe2;
  --outline-btn-color: #29abe2;
  /* button--secondary */
  --secondary-btn-background: #242424;
  --hover-secondary-btn-background: #393939;
  --active-secondary-btn-background: #4f4f4f;
  --secondary-btn-color: rgba(255, 255, 255, 0.87);
  /* button--icon */
  --icon-btn-background: #fff;
  --hover-icon-btn-background: rgba(41, 171, 226, 0.2);
  --active-icon-btn-background: rgba(41, 171, 226, 0.4);
  --disabled-icon-btn-background: rgba(0, 0, 0, 0.05);
  /* font */
  --title-font-family: Playfair Display, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --primary-color: rgba(255, 255, 255, 0.87);
  --accent-color: #29abe2;
  --secondary-color: #9f9f9f;
  /* shadow */
  --feedback-card-shadow: 0 0.125em 1em rgba(85, 156, 255, 0.16);
  --card-shadow-color: rgba(41, 171, 226, 0.12);
  --avatar-shadow: 0 0.5em 0.813em rgba(0, 0, 0, 0.19);
  /* input */
  --input-background-color: #76d6ff;
  --input-font-color: #fff;
}

/* light mode */
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    /* colors */
    --background-color: #ffffff;
    --footer-background: #0f4861;
    --primary: #29abe2;
    --secondary: #79a0b0;
    --inverted: #fff;
    --border-color: #f3f3f3;
    /* button */
    /* button--primary */
    --primary-btn-background: #29abe2;
    --primary-btn-color: #fff;
    /* button--outline */
    --outline-btn-background: #fff;
    --hover-outline-btn-background: #e5e5e5;
    --active-outline-btn-background: #cccccc;
    --outline-btn-border-color: #29abe2;
    --outline-btn-color: #29abe2;
    /* button--secondary */
    --secondary-btn-background: #fff;
    --hover-secondary-btn-background: #e5e5e5;
    --active-secondary-btn-background: #cccccc;
    --secondary-btn-color: #272727;
    /* button--icon */
    --icon-btn-background: #fff;
    --hover-icon-btn-background: rgba(41, 171, 226, 0.2);
    --active-icon-btn-background: rgba(41, 171, 226, 0.4);
    --disabled-icon-btn-background: rgba(0, 0, 0, 0.05);
    /* font */
    --primary-color: #272727;
    --accent-color: #29abe2;
    --secondary-color: #9f9f9f;
    /* shadow */
    --feedback-card-shadow: 0 0.125em 1em rgba(85, 156, 255, 0.16);
    --card-shadow-color: rgba(33, 43, 47, 0.12);
    --avatar-shadow: 0 0.5em 0.813em rgba(0, 0, 0, 0.19);
    /* input */
    --input-background-color: #76d6ff;
    --input-font-color: #fff;
  }
}
