/* dark mode */
:root {
  --primary-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  /* button */
  --primary-btn-background: #29abe2;
  --primary-btn-color: #fff;
  --outline-btn-background: #242424;
  --outline-btn-border-color: #29abe2;
  --outline-btn-color: #29abe2;
}

/* light mode */
@media (prefers-color-scheme: light) {
  :root {
    /* colors */
    --primary-color: #272727;
    --background-color: #ffffff;
    /* button */
    --primary-btn-background: #29abe2;
    --primary-btn-color: #fff;
    --outline-btn-background: #fff;
    --outline-btn-border-color: #29abe2;
    --outline-btn-color: #29abe2;
  }
}
