.conditions {
  background-color: var(--conditions-background-color);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;

  .conditions__container {
    flex-direction: column;

    .section-header {
      max-width: 29.2em;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      row-gap: 1.563em;

      li {
        display: flex;
        font-weight: 300;
        align-items: center;

        .delivery-icon,
        .floor-icon,
        .gift-icon {
          width: 2.5em;
          height: 2.5em;
        }

        .delivery-icon {
          background: no-repeat center / contain
            url("/assets/conditions/delivery.svg");
        }

        .floor-icon {
          background: no-repeat center / contain
            url("/assets/conditions/floor.svg");
        }

        .gift-icon {
          background: no-repeat center / contain
            url("/assets/conditions/gift.svg");
        }

        span {
          margin-left: 1.563em;
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: start;
      margin-top: 3.5em;
    }
  }

  &.conditions--first {
    background-image: url("/assets/conditions/condition1.webp");
  }
  &.conditions--second {
    background-image: url("/assets/conditions/condition2.webp");
  }
  &.conditions--third {
    background-image: url("/assets/conditions/condition3.webp");
  }
  &.conditions--fourth {
    background-image: url("/assets/conditions/condition4.webp");
  }
  &.conditions--fifth {
    background-image: url("/assets/conditions/condition5.webp");
  }
}

@media screen and (max-width: 1400px) {
  .conditions {
    background-position: left 35em center;
  }
}

@media screen and (max-width: 768px) {
  #conditions.conditions {
    background-image: none;
  }
}
