.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100rem;
  padding: 0.875em 2.5em;
  margin: 0 auto;

  .header__burger {
    display: none;
  }

  & .header__logo {
    min-width: 144px;
    min-height: 103px;
  }

  .header__menu {
    padding: 0 16px;
    .menu__header {
      display: none;
    }
    z-index: 1;
  }

  & .header__phone,
  & .header_btn {
    display: flex;
    align-items: center;
  }

  .header__phone {
    min-width: 400px;

    .header__phone-number {
      display: flex;
      align-items: center;
      margin-right: 40px;
      .footer__phone-icon {
        width: 16px;
        height: 16px;
        background: var(--primary-color);
        -webkit-mask: no-repeat center / cover url("/assets/icons/phone.svg");
        mask: no-repeat center / cover url("/assets/icons/phone.svg");
      }
      span {
        margin-left: 12px;
        font-weight: 700;
      }
    }
  }

  .header__btn {
    button {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

      &:active {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    padding: 16px;

    .header__burger {
      display: flex;
      align-self: flex-start;
      z-index: 1;
    }

    .header__logo {
      margin-top: -40px;
    }

    .header__menu {
      display: none;
      &.header__menu--open {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-color);
        padding: 16px;
        z-index: 1;
        .menu__header {
          align-self: flex-end;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }

    .header__phone {
      margin: 16px 0;
      min-width: 205px;
      flex-direction: column;
      align-items: center;

      .header__phone-number,
      .header__btn {
        margin: 6px 0;
      }
    }
  }
}
