.presentation {
  min-height: 900px;
  background: no-repeat right / auto 100%
    url("/assets/presentation-background.webp");
  display: flex;
  align-items: stretch;

  .presentation__content-wrapper {
    box-sizing: content-box;
    max-width: 73.125em;
    width: 100%;
    margin: -131px auto 0;
    padding: 14.75em 3em 0;
    display: flex;

    .presentation__content {
      display: flex;
      flex-direction: column;
      max-width: 39em;
    }

    .presentation__title {
      margin: 0 0 2px 0;
      font-family: Playfair Display, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
      font-size: 3.75rem;
    }

    .presentation__description {
      max-width: 546px;
      margin-bottom: 30px;
      font-weight: 300;
    }

    .presentation__btn {
      max-width: 261px;
    }

    .presentation__more {
      margin-top: auto;
      margin-bottom: 6.563em;
      display: flex;
      align-items: center;

      .presentation__more__icon {
        display: inline;
        position: relative;
        min-width: 24px;
        min-height: 24px;
        background: no-repeat center / contain url("/assets/icons/mouse.svg");
        margin-right: 6px;

        &::before {
          content: "";
          min-width: 8px;
          min-height: 8px;
          background: no-repeat center / contain
            url("/assets/icons/chevron-down.svg");
          position: absolute;
          left: 50%;
          bottom: 0%;
          transform: translate(-50%, 120%);
        }
      }

      span {
        color: var(--outline-btn-color);
        font-weight: 700;
        font-size: 0.875rem;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .presentation {
    background: no-repeat 200px 0 / auto 100%
      url("/assets/presentation-background.webp");
  }
}

@media screen and (max-width: 950px) {
  .presentation {
    min-height: auto;
    background: no-repeat 300px 0 / auto 100%
      url("/assets/presentation-background.webp");

    .presentation__content-wrapper {
      max-width: 522px;
      margin-top: 40px;
      padding: 2em 2em 0;
      .presentation__title {
        font-size: 2.75rem;
      }

      .presentation__more {
        margin-top: 3.75em;
        margin-bottom: 2em;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .presentation {
    background: var(--background-color);
    .presentation__content-wrapper {
      max-width: 422px;
      margin-top: 0;
      .presentation__title {
        font-size: 1.75rem;
      }

      .presentation__description {
        font-size: 0.8rem;
      }
    }
  }
}
