.constructor__size {
    display: flex;
    align-items: center;
}

.constuctor__size-divider {
    font-size: 0.813rem;
    font-weight: 300;
    margin: 0.538em;
}

.constuctor__size-select {
    min-width: 6.625em;
}
