.menu {
  display: flex;
  align-items: center;

  ul {
    display: grid;
    align-items: center;
    justify-content: start;
    row-gap: 0.8em;
    column-gap: 2.5em;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 0.88em;
      min-width: max-content;
      a {
        text-decoration: none;
        color: var(--primary-color);

        &:active {
          border-bottom: 1px solid var(--primary-color);
        }
      }
    }
  }

  &.menu--header {
    ul {
      grid-template-columns: repeat(8, fit-content(100px));
    }
  }
}

@media (hover: hover) {
  .menu__link:hover {
    border-bottom: 1px solid var(--primary-color);
  }
}

@media screen and (min-width: 1300px) and (max-width: 1460px) {
  .menu {
    &.menu--header {
      ul {
        grid-template-columns: repeat(4, fit-content(100px));
      }
    }
  }
}

@media screen and (min-width: 1050px) and (max-width: 1300px) {
  .menu {
    &.menu--header {
      ul {
        grid-template-columns: repeat(3, fit-content(100px));
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1050px) {
  .menu {
    &.menu--header {
      ul {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .menu {
    &.menu--header {
      ul {
        grid-template-columns: 1fr;
        row-gap: 1.2em;
        text-align: center;

        li {
          font-size: 1.2rem;
        }
      }
    }
  }
}
